[submodule "lib/waypoints"]
	path = lib/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "public/waypoints"]
	path = public/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "node_modules/ua-parser"]
	path = node_modules/ua-parser
	url = https://github.com/tobie/ua-parser.git
[submodule "public/lib/file-uploader"]
	path = public/lib/file-uploader
	url = https://github.com/valums/file-uploader.git
[submodule "public/lib/ajax-form"]
	path = public/lib/ajax-form
	url = https://github.com/malsup/form.git
[submodule "public/lib/jeditable"]
	path = public/lib/jeditable
	url = https://github.com/tuupola/jquery_jeditable.git
