[submodule "lib/waypoints"]
	path = lib/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "public/waypoints"]
	path = public/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
