.container
  .hero-unit
    h1 About
    p Transcription Hub was created by Varun Singh, a beginning jazz player and computer science major who was troubled by the fact that there was no central place to share jazz transcriptions. If you have a feature request or problem, the best thing to do is use the Feedback tab on the left. The site was only recently created (January 2012), so I highly appreciate feedback of any kind. If you want to contact me about anything else, simply email me at EMAIL.
    p Copyright Disclaimer: Due to copyright laws, I unfortunately can only permit uploads of transcriptions of jazz solos, not the heads. By uploading a transcription, you agree that the transcription was created entirely by yourself, by ear, and is not covered under any copyright. In addition, you agree to release the transcription under a DFJDSF public license. Clearly, I am not a lawyer, so if any lawyer would like to advise me on the legality of this website please contact me at EMAIL.
