.container
  .hero-unit.hero-box-with-shadow
    .myH1 About
    p Amplify was created by 3 Brown and RISD students and is a result of the new Brown Venture Labs program.
    p Do you have feedback of any kind about the site (feature request, bug report, etc)? Use the tab on the left.
      br
      | Want to ask us about anything else? Email us at <a href='mailto:hello@amplifyyourvoice.com'> hello@amplifyyourvoice.com </a>
