.container
  .hero-unit.hero-box-with-shadow
    .myH1 About
    p Transcription Hub was created by Varun Singh, a beginning jazz player and computer science major who was troubled by the fact that there was no central place to share jazz transcriptions.
    p Do you have feedback of any kind about the site (feature request, bug report, etc)? Use the tab on the left.
      br
      | Want to ask me about anything else? Email me at <a href='mailto:hello@transcription-hub.com'> hello@transcription-hub.com </a>
    p Copyright Disclaimer: Due to copyright laws, I unfortunately can only permit uploads of transcriptions of improvised jazz solos, not the heads or anything that is copyrighted. By uploading a transcription, you agree that the transcription was created entirely by yourself, by ear, or that you hold the rights to publish the material.
