h2 Bounty
.container
  a.btn.primary(type='submit', href='/newBounty') New Bounty
  - for (var bI in bounties)
    - b = bounties[bI]
    =b

!= partial('transcriptions', {locals: {
  user: user,
  transcriptions: transcriptions,
  type: type
}})
