//link(rel='stylesheet/less', href='/stylesheets/bootstrap.less')
//script(src='/stylesheets/less-1.1.5.min.js')
.row-fluid
  .content-box
    .browse-pane#browse
      - for (var sIndex in browseItems)
        - s = browseItems[sIndex]
        br
        a(href=s.url)
          = s.value
          | &nbsp(#{s.count})
