.container
  .hero-unit.hero-box-with-shadow
    .row
      .saxIconLarge.pull-left
        img(src='/images/saxIconLarge.png')
      .welcomeText.pull-left.tk-museo-slab
        .myH1.inline Welcome
        p.inline.pull-right
          strong#homepageTranscriptionCount
            = trCount
          | &nbspTranscriptions,
          strong#homepageTranscriptionCount
            = userCount
          | &nbspUsers
        p Looking for a jazz transcription? Look no further! Transcription Hub was created to allow jazz fans like you to share and discuss transcriptions of jazz solos. Countless transcriptions are scattered throughout the internet on blogs, forums, and personal websites; we hope to gather all of these into one searchable index of every jazz solo.
        p
          - if (typeof(user) !== 'undefined' && user && user.username)
            a.btn.btn-primary.btn-large(href='/browse') Browse Transcriptions Now &raquo;
          - else
            a.btn.btn-primary.btn-large(href='/register') Register Now &raquo;
  .row-fluid
    .span4
      h2 Request Transcriptions with Karma Points!
      P Really want a transcription that we don’t have? No problem!
 
      P By uploading a transcription (or an online link to a transcription) that receives lots of votes, YOU earn matching karma points. These karma points will allow you to request other transcriptions.
 
      P More so, every transcription is rated by a simple up/down voting system (upvotes minus downvotes) to help identify accurate transcriptions. Uploaders are given Karma points for every positive vote their transcription earns.
 
      P This system ensures that requests are being filled as new ones are being created. Woo hoo!
    .span4
      h2 Upload PDFs or links
      p We understand that not everyone has the time to create new transcriptions, and that numerous transcriptions are already available on the web, so in addition to PDFs hosted on Transcription Hub itself, we also allow you to post links to other sites! By doing this, we hope to become the place to come to if you want to search for transcriptions posted all over the internet.
    .span4
      h2 30 Second Registration
      p Only registered users can vote and comment on transcriptions. This prevents gaming of the Karma system, and helps create an active community of transcribers. You get a personal profile where you can keep track of all your uploaded transcriptions, and include a link back to your blog or personal website. <strong>Registration, and all uploaded transcriptions, will always be free and open to all. </strong> Register now with our secure, 30 second registration form!
