.container
  .hero-unit
    h1 Welcome
    p Transcription Hub was created to bring together jazz enthusiasts around the world, providng a platform to share and discuss transcriptions of jazz solos. Countless transcriptions are currently scattered throughout the internet on blogs, forums, and personal websites; Transcription Hub hopes to provide a central website where we can create a searchable index of every jazz solo, together.
    p
      a.btn.primary.large(href='/register') Register Now &raquo;
  .row
    .span-one-third
      h2 Unique Karma System
      p Every transcription is rated according to a simple Up/Down voting system. A transcriptions score is simply its upvotes minus its downvotes, letting you easily find the most accurate transcriptions. Uploaders are granted Karma 'Notes' for every upvote, which they can use to request new transcriptions. Use your Karma Notes to get your favorite transcription, or upload a desired transcription to get Karma Notes!
    .span-one-third
      h2 Mandatory Registration
      p Only registered users can view, vote, and comment on transcriptions. This prevents gaming of the Karma system, and helps create an active community of transcribers. You get a personal profile where you can keep track of all your uploaded transcriptions, and include a link back to your blog or personal website. Registration, and all uploaded transcriptions, will always be free and open to all! Register now with our secure, 1 minute registration form, or login with Facebook or Google.
    .span-one-third
      h2 Discussion
      p Comments on every transcription page facilitate conversation about every aspect of a transcription. Comment on the accuracy of a transcription, discuss its strong and weak points, or ask questions about hard to play parts.
