!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title= 'Jazz Transcription Hub'
    meta(name='description', content='A place to upload and share transcriptions of jazz solos')
    meta(name='author', content='')

    // Bootstrap: Le HTML5 shim, for IE6-8 support of HTML elements
    //[if lt IE 9]
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    //<![endif]

    style
      body {
        padding-top: 60px;
      }


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    //script(src='js/libs/modernizr-2.0.6.min.js')


    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/aristo/jquery-ui-1.8.5.custom.css')
    //script(type='text/javascript', src='/javascripts/json.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    //script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
    //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    //script(type='text/javascript', src='/javascripts/underscore-min.js')
    //script(type='text/javascript', src='/javascripts/backbone-min.js')
    link(rel='stylesheet/less', href='/stylesheets/bootstrap.less')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/stylesheets/less-1.1.5.min.js')
    script(type="text/javascript", src="/javascripts/bootstrap-twipsy.js")
    script(type="text/javascript", src="/javascripts/bootstrap-popover.js")
    script(type="text/javascript", src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")
    script(type="text/javascript", src="/javascripts/validate.js")
    script(type='text/javascript', src='/javascripts/myUtil.js')

    -each cssScript in cssScripts
      link(rel='stylesheet', href= cssScript)
    -each script in scripts
      script(type='text/javascript', src= script)
    //

    - if (typeof(user) !== 'undefined' && user && user.username)
      - userLoggedIn = true
    - else
      - userLoggedIn = false
  body
    <div id="fb-root"></div>
    #entire-page
      #entire-page-minus-footer
        .topbar
          .topbar-inner
            .container-fluid
              a.brand(href='/')
                img#logoTopbar(src='/images/saxIcon.png', width=30, height=30)
                .text
                  | Transcription Hub
              ul.nav
                li
                  a(href='/about') About
                - if (userLoggedIn)
                  li
                    a(href='/Upload') Upload
                  li
                    a(href='/bounty') Bounty
                - else
                  li
                    a(href='/register') Register
              //a.button.btn.primary.pull-left(href="/upload") Upload
              //a.button.btn.primary.pull-left(href="/register") Register
              form.pull-left(method='post', action='/search')
                input#searchType.jqueryHide(type='text', name='search[type]', value='transcriptions')
                input(type='text', name='search[omniSearch]', placeholder='Enter Artist/Song/Album')
                input(type='submit', style='position: absolute; left: -9999px;') // hide submit button
              .pull-right
                - if (userLoggedIn)
                  li.right
                    | Logged in as:
                    a#profile(href='/profile')
                      = user.username
                    a#logout(href='/logout') Log Out
                - else
                  script(type='text/javascript', src='/javascripts/login.js')
                  form#loginTopBar(method='post', action'=/login')
                    != partial('loginFields', {locals: {user: user}})
        != body
      #footer
        .inner.container-fluid
          | Built with Node.js, Express, and MongoDB.
          a#footerFeedback(href='#') Feedback & Support
          br
          &copy; 2012 Varun Singh
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28499152-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
