.container
  .hero-unit.hero-box-with-shadow
    .myH1 Privacy Policy
    p Not sure what to put here. Here's the basics:
    ul.privacyList
      li I'll never sell or in any way give your email to any 3rd party, ever.
      li Your password is never stored in cleartext anywhere. All passwords are securely encrypted on my server.
      li I may decide to send email updates. If I do, there will be an unsubscribe link in any and all emails, which will prevent you from ever receiving another email from me.
      li Worried about anything else? Email me at <a href='mailto:hello@transcription-hub.com'> hello@transcription-hub.com </a>

