.jqueryHide#userId(userId=profileUser.id)
.profile-info.box-with-shadow.content-box
  h2 User Profile
  #username
    | Username:
    = profileUser.username
  #email
    | Email:
    = profileUser.email
  #points
    | Karma Notes:
    = profileUser.karmaPoints
  - if (profileUser.personalWebsite)
    | Website:
    = profileUser.personalWebsite
  #joinDate
    - if (typeof(profileUser.registerDateStr) !== 'undefined')
      | Joined on
      = profileUser.registerDateStr
  #profTranscriptions
    | Transcriptions:
    #profTranscriptionData
      | &nbsp &nbsp Loading...
  #profBounties
    | Bounties:
    #profBountiesData
      | &nbsp &nbsp Loading...

script(type='text/javascript')
  $(function() {
    var userId = $('#userId').attr('userId');
    $.get('/userTranscriptions/' + userId, function(data) {
      $('#profTranscriptionData').html(data.html);
    });
    $.get('/userBounties/' + userId, function(data) {
      $('#profBountiesData').html(data.html);
    });
  });
