.jqueryHide#userId(userId=profileUser.id)
.profile-info.box-with-shadow.content-box
  h2.inline User Profile
  #points.display-points.popover(rel='popover', data-content='User your Karma Points to request a transcription at the top!', data-placement='bottom', data-original-title='Free Karma Points!')
    = profileUser.karmaPoints
    .display-points-text
      | Karma Points (?)
  #username
    | Username:
    = profileUser.username
  #email
    | Email:
    = profileUser.email
  - if (profileUser.personalWebsite)
    | Website:
    = profileUser.personalWebsite
  #joinDate
    - if (typeof(profileUser.registerDateStr) !== 'undefined')
      | Joined on
      = profileUser.registerDateStr
  #profTranscriptions
    | Transcriptions:
    #profTranscriptionData
      | &nbsp &nbsp Loading...
  #profBounties
    | Bounties:
    #profBountiesData
      | &nbsp &nbsp Loading...

script(type='text/javascript')
  $(function() {
    var userId = $('#userId').attr('userId');
    $.get('/userTranscriptions/' + userId, function(data) {
      $('#profTranscriptionData').html(data.html);
    });
    $.get('/userBounties/' + userId, function(data) {
      $('#profBountiesData').html(data.html);
    });
    $('.popover').popover().click(function(e) {
      e.preventDefault();
    });
  });
