- for (var bIndex in bounties)
  - b = bounties[bIndex]
  -if (b.fulfilled)
    | Filled! &nbsp
  a.bounty(href='/bounty/' + b.id)
    = b.points
    | &nbsp
    = b.title
    |  by
    = b.artist
  br
