@charset 'utf-8';
body{padding:50px;font:14px "Lucida Grande" Helvetica Arial sans-serif}
a{text-decoration:none;color:#961b25}
a:hover{color:#6f9217}
:focus{outline:0}
h1,h2,h3{font-family:Georgia,Palatino,Palatino Linotype,Times,Times New Roman,Serif;font-weight:normal}
h2{font-size:22px;line-height:28px}
float{float:left}
body{background:#f6f6ee;font-family:"Trebuchet MS" 'Helvetica Neue' Helvetica Arial sans-serif;font-size:12px}
header#site_head{height:70px;width:100%;display:block}
.header_cont{width:960px;margin:0 auto;padding-top:15px}
